<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2010-02-26T04:46:00Z</date>
		<key>actualSize</key>
		<integer>97</integer>
		<key>attributeModDate</key>
		<date>2010-02-26T04:46:00Z</date>
		<key>createDate</key>
		<date>2010-01-27T03:25:05Z</date>
		<key>creationDate</key>
		<date>2010-04-09T18:27:56Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>8C7F8DA3-65BD-4102-9A8F-D65062B30680</string>
		<key>lastModifiedDate</key>
		<date>2010-01-27T03:25:05Z</date>
		<key>originalPath</key>
		<string>/Users/alptugan/Global_Classes/br/com/stimuli/loading/tests/.svn/all-wcprops</string>
		<key>originalSize</key>
		<integer>97</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>3C3D505F-D801-4D55-B0E8-CDE43A05A2D5</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>20</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
